


.batch
{

background: var(--secondary-new, #191D88);
}


.example-container {
  height: 400px;
  width: 100%;
  max-width: 100%;
  overflow: auto;
}
  .example-spacer {
    flex: 1 1 auto;
  }

  .brand{
    color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.15px;
  }
