<!DOCTYPE html>
<html >
<head class="privacy">
    <style>
        .container {
            display: flex;
            justify-content: center;
            /* max-width: 100%; */
        }
        .paragraph-container {
            width: 42%; 
        }
        p {
            border: 1px solid #ccc;
            padding: 10px;
            text-align: justify;
        }
    </style>
</head>
<body class="back">
    <div class="container">
             <div class="paragraph-container">
                <div class="form">
                <div>
                <h1 class="h1">Request for Proposal</h1>
             </div>
               <div class="trip">A Trip to the Mailbox</div>
                 <div class="image">
                    <!-- <img src="pic.png" alt="HTML5 Icon" style=" width: 338px;
                        height: 257px;
                       "> -->

                  </div> 
                <div class="text">To your registered email ID, you will receive an
                 email with a link to Set your password.</div>
                
                </div> 

            </div>
    </div>
</body>
</html>
