
<!DOCTYPE html>
<html class="containert1">
<head class="privacy">
    <style>
        .container {
            display: flex;
            justify-content: center;
           
        }

        .paragraph-container {
          justify-content: center;
          width: 50%; 
            margin-top: 0rem;  
        }
        p {
            border: 1px solid #ccc;
          
            text-align: justify;
        }
    </style>
</head>
<body class="back">
  
    <div class="container">
        
        <div class="paragraph-container">
            <h1 class="h1">Contact Us</h1>
            <div ><a class="button" routerLink="/signin">< Back </a> </div>
                <p class="p1">
                *Our customer care numbers: <br>
                  -> +918907645321,<br>+914545689897<br>
                  -> Languages:English & Thamil & Telugu <br>
                  -> Please call in between 9AM TO 6PM 
                    
                </p>
               <h2 class="h2">Contact through email </h2>
                <p class="p2">
                  Please send your queries to these emails:<br>
                  we will reach out you very soon<br>
                  req.tool@mphasis.com,<br>
                  est.tool@email.com
                </p>
               <h4></h4>  

            </div>
    </div>
</body>
</html>
