.back{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38rem;
    // width: 77rem;
    // background: var(--Surface, #FFF);
    // background: #FFF;
    // background:no-repeat;
    background-image: url("~/src/assets/images/abc.png");
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.h1{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.h2{
    display: flex;
    justify-content: center;
    align-items: center;
}
p[_ngcontent-ng-c3498743496] {
    border: 1px solid #ccc;
    text-align: justify;
    background-color: white;
}
// .back{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 38rem;
//     // width: 77rem;
//     // background: var(--Surface, #FFF);
//     // background: #FFF;
//     background: no-repeat;
//     background-image: url("~/src/assets/images/abc.png");
// }

// .container{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     // height: 100vh;
//     // margin-left: -19px;
//     // max-width: 768px;
//     // padding: 0 16px;

// }
// .p{
//     display: flex;
//     justify-content: center;
//     align-items: center;
   
//     box-shadow: 0px 8px 10px 0px rgba(179, 171, 186, 0.20), 0px 6px 30px 0px rgba(179, 171, 186, 0.12), 0px 16px 24px 0px rgba(179, 171, 186, 0.14);
//     height: 16rem;
//     width: 21rem;
//     border-radius: 1rem;
//     background-color: white;
// }
// .contact{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     margin-top: -28rem;
// }
// .form{

//  display: flex;
//     justify-content: center;
//     align-items: center;
// }