<body>
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="24" fxFill>
   <div class="card">
    <div class="heading" fxLayout="column" fxLayoutAlign="center center">
      <p id="h1">Request For Proposal</p>
      <p id="h2">Welcome {{fullName}} , Please set your password  </p>

      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="example-full-width input-con" style="margin-top: .5rem;">
          <mat-label>Enter New password</mat-label>
          <input type="password" matInput formControlName="password" placeholder="password" >
          <mat-error *ngIf="signupForm.get('password')?.hasError('required')">* Password is required</mat-error>
          <mat-error *ngIf="signupForm.get('password')?.hasError('minlength')">* Password must be at least 8 characters long</mat-error>
        </mat-form-field>
        
        <mat-form-field class="example-full-width input-con">
          <mat-label>Confirm your password</mat-label>
          <input type="password" matInput formControlName="confirmPassword" placeholder="confirm password" >
          <mat-error *ngIf="signupForm.get('confirmPassword')?.hasError('required')">* Confirm Password is required</mat-error>
          <!-- <mat-error *ngIf="signupForm?.hasError('passwordsDoNotMatch')" >Passwords do not match</mat-error> -->
        </mat-form-field>
        <div *ngIf="signupForm.get('confirmPassword')?.dirty && signupForm.hasError('passwordsDoNotMatch')" class="p-match">* Confirm Password didn't match</div>
        
        <div  fxLayout="column" fxLayoutAlign="center center"><button type="submit">Confirm</button></div>
        
        
      </form>
      <!-- <button (click)="onSubmit()" routerLink="/dashboard" [disabled]="signupForm.invalid">Confirm</button> -->

    <hr style="width: 320px;
    color: black; margin-top: 1rem;">

    <div>
      <p>Already has an account? <a href="" style="text-decoration: none;">Sign In</a></p>
    </div>
  </div>
   </div>
   <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8">
      <div><a href="/privacy" style="text-decoration: none;">Privacy Policy</a></div>
      <div class="dot"></div>
      <div><a href="/aboutus" style="text-decoration: none;">About Us</a></div>
      <div class="dot"></div>
      <div><a href="/contactus" style="text-decoration: none;">Contact Us</a></div>
      
      </div>


  </div>
</body>